.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.form > div {
    display: flex;
}
.form a{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}